<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build &amp; Install FreeDO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>575ACC121582D4BE00EAC45A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>575ACC261582D4F000EAC45A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8230C6A110AFBC9100412F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82B9195310150EA2007BD6DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5B49AC048680CD000E48DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
